<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Productive Ramadan App</title>
</head>

<body>
    <main>
        <section class="glass">
            <div class="container">
                <h1>About Productive Ramadan App</h1>
                <p>Productive Ramadan is an app for helping us to have a productive Ramadan. Ramadan is a time of great rewards.
                </p>
                <p>Productive Ramadan App helps with tracking daily goals and activities during Ramadan.</p>
                <a id="homePageLinK" href="/">Back To Home</a>
                <a id="playStoreLink" href="/">Link to playstore</a>
            </div> 
        </section>
    </main>
   
</body>

</html>